[Desktop Entry]
Name=AlmaLinux Abstract Light
Name[ar]=AlmaLinux Abstract Light
Name[bs]=AlmaLinux Abstract Light
Name[ca]=AlmaLinux Abstract Light
Name[ca@valencia]=AlmaLinux Abstract Light
Name[cs]=AlmaLinux Abstract Light
Name[da]=AlmaLinux Abstract Light
Name[de]=AlmaLinux Abstract Light
Name[el]=AlmaLinux Abstract Light
Name[en_GB]=AlmaLinux Abstract Light
Name[es]=AlmaLinux Abstract Light
Name[et]=AlmaLinux Abstract Light
Name[eu]=AlmaLinux Abstract Light
Name[fi]=AlmaLinux Abstract Light
Name[fr]=AlmaLinux Abstract Light
Name[gl]=AlmaLinux Abstract Light
Name[he]=AlmaLinux Abstract Light
Name[hu]=AlmaLinux Abstract Light
Name[ia]=AlmaLinux Abstract Light
Name[id]=AlmaLinux Abstract Light
Name[it]=AlmaLinux Abstract Light
Name[ko]=AlmaLinux Abstract Light
Name[lt]=AlmaLinux Abstract Light
Name[nb]=AlmaLinux Abstract Light
Name[nds]=AlmaLinux Abstract Light
Name[nl]=AlmaLinux Abstract Light
Name[nn]=AlmaLinux Abstract Light
Name[pa]=AlmaLinux Abstract Light
Name[pl]=AlmaLinux Abstract Light
Name[pt]=AlmaLinux Abstract Light
Name[pt_BR]=AlmaLinux Abstract Light
Name[ro]=AlmaLinux Abstract Light
Name[ru]=AlmaLinux Abstract Light
Name[sk]=AlmaLinux Abstract Light
Name[sl]=AlmaLinux Abstract Light
Name[sr]=AlmaLinux Abstract Light
Name[sr@ijekavian]=AlmaLinux Abstract Light
Name[sr@ijekavianlatin]=AlmaLinux Abstract Light
Name[sr@latin]=AlmaLinux Abstract Light
Name[sv]=AlmaLinux Abstract Light
Name[tg]=AlmaLinux Abstract Light
Name[tr]=AlmaLinux Abstract Light
Name[uk]=AlmaLinux Abstract Light
Name[x-test]=xxAlmaLinux Abstract Lightxx
Name[zh_CN]=AlmaLinux Abstract Light
Name[zh_TW]=AlmaLinux Abstract Light

X-KDE-PluginInfo-Name=Alma-abstract-light
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0