[Desktop Entry]
Name=Alma-abstract-light
Name[ar]=Alma-abstract-light
Name[bs]=Alma-abstract-light
Name[ca]=Alma-abstract-light
Name[ca@valencia]=Alma-abstract-light
Name[cs]=Alma-abstract-light
Name[da]=Alma-abstract-light
Name[de]=Alma-abstract-light
Name[el]=Alma-abstract-light
Name[en_GB]=Alma-abstract-light
Name[es]=Alma-abstract-light
Name[et]=Alma-abstract-light
Name[eu]=Alma-abstract-light
Name[fi]=Alma-abstract-light
Name[fr]=Alma-abstract-light
Name[gl]=Alma-abstract-light
Name[he]=Alma-abstract-light
Name[hu]=Alma-abstract-light
Name[ia]=Alma-abstract-light
Name[id]=Alma-abstract-light
Name[it]=Alma-abstract-light
Name[ko]=Alma-abstract-light
Name[lt]=Alma-abstract-light
Name[nb]=Alma-abstract-light
Name[nds]=Alma-abstract-light
Name[nl]=Alma-abstract-light
Name[nn]=Alma-abstract-light
Name[pa]=Alma-abstract-light
Name[pl]=Alma-abstract-light
Name[pt]=Alma-abstract-light
Name[pt_BR]=Alma-abstract-light
Name[ro]=Alma-abstract-light
Name[ru]=Alma-abstract-light
Name[sk]=Alma-abstract-light
Name[sl]=Alma-abstract-light
Name[sr]=Alma-abstract-light
Name[sr@ijekavian]=Alma-abstract-light
Name[sr@ijekavianlatin]=Alma-abstract-light
Name[sr@latin]=Alma-abstract-light
Name[sv]=Alma-abstract-light
Name[tg]=Alma-abstract-light
Name[tr]=Alma-abstract-light
Name[uk]=Alma-abstract-light
Name[x-test]=xxAlma-abstract-lightxx
Name[zh_CN]=Alma-abstract-light
Name[zh_TW]=Alma-abstract-light

X-KDE-PluginInfo-Name=Alma-abstract-light
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0