[Desktop Entry]
Name=AlmaLinux Abstract Dark
Name[ar]=AlmaLinux Abstract Dark
Name[bs]=AlmaLinux Abstract Dark
Name[ca]=AlmaLinux Abstract Dark
Name[ca@valencia]=AlmaLinux Abstract Dark
Name[cs]=AlmaLinux Abstract Dark
Name[da]=AlmaLinux Abstract Dark
Name[de]=AlmaLinux Abstract Dark
Name[el]=AlmaLinux Abstract Dark
Name[en_GB]=AlmaLinux Abstract Dark
Name[es]=AlmaLinux Abstract Dark
Name[et]=AlmaLinux Abstract Dark
Name[eu]=AlmaLinux Abstract Dark
Name[fi]=AlmaLinux Abstract Dark
Name[fr]=AlmaLinux Abstract Dark
Name[gl]=AlmaLinux Abstract Dark
Name[he]=AlmaLinux Abstract Dark
Name[hu]=AlmaLinux Abstract Dark
Name[ia]=AlmaLinux Abstract Dark
Name[id]=AlmaLinux Abstract Dark
Name[it]=AlmaLinux Abstract Dark
Name[ko]=AlmaLinux Abstract Dark
Name[lt]=AlmaLinux Abstract Dark
Name[nb]=AlmaLinux Abstract Dark
Name[nds]=AlmaLinux Abstract Dark
Name[nl]=AlmaLinux Abstract Dark
Name[nn]=AlmaLinux Abstract Dark
Name[pa]=AlmaLinux Abstract Dark
Name[pl]=AlmaLinux Abstract Dark
Name[pt]=AlmaLinux Abstract Dark
Name[pt_BR]=AlmaLinux Abstract Dark
Name[ro]=AlmaLinux Abstract Dark
Name[ru]=AlmaLinux Abstract Dark
Name[sk]=AlmaLinux Abstract Dark
Name[sl]=AlmaLinux Abstract Dark
Name[sr]=AlmaLinux Abstract Dark
Name[sr@ijekavian]=AlmaLinux Abstract Dark
Name[sr@ijekavianlatin]=AlmaLinux Abstract Dark
Name[sr@latin]=AlmaLinux Abstract Dark
Name[sv]=AlmaLinux Abstract Dark
Name[tg]=AlmaLinux Abstract Dark
Name[tr]=AlmaLinux Abstract Dark
Name[uk]=AlmaLinux Abstract Dark
Name[x-test]=xxAlmaLinux Abstract Darkxx
Name[zh_CN]=AlmaLinux Abstract Dark
Name[zh_TW]=AlmaLinux Abstract Dark

X-KDE-PluginInfo-Name=Alma-abstract-dark
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0