[Desktop Entry]
Name=Alma-abstract-dark
Name[ar]=Alma-abstract-dark
Name[bs]=Alma-abstract-dark
Name[ca]=Alma-abstract-dark
Name[ca@valencia]=Alma-abstract-dark
Name[cs]=Alma-abstract-dark
Name[da]=Alma-abstract-dark
Name[de]=Alma-abstract-dark
Name[el]=Alma-abstract-dark
Name[en_GB]=Alma-abstract-dark
Name[es]=Alma-abstract-dark
Name[et]=Alma-abstract-dark
Name[eu]=Alma-abstract-dark
Name[fi]=Alma-abstract-dark
Name[fr]=Alma-abstract-dark
Name[gl]=Alma-abstract-dark
Name[he]=Alma-abstract-dark
Name[hu]=Alma-abstract-dark
Name[ia]=Alma-abstract-dark
Name[id]=Alma-abstract-dark
Name[it]=Alma-abstract-dark
Name[ko]=Alma-abstract-dark
Name[lt]=Alma-abstract-dark
Name[nb]=Alma-abstract-dark
Name[nds]=Alma-abstract-dark
Name[nl]=Alma-abstract-dark
Name[nn]=Alma-abstract-dark
Name[pa]=Alma-abstract-dark
Name[pl]=Alma-abstract-dark
Name[pt]=Alma-abstract-dark
Name[pt_BR]=Alma-abstract-dark
Name[ro]=Alma-abstract-dark
Name[ru]=Alma-abstract-dark
Name[sk]=Alma-abstract-dark
Name[sl]=Alma-abstract-dark
Name[sr]=Alma-abstract-dark
Name[sr@ijekavian]=Alma-abstract-dark
Name[sr@ijekavianlatin]=Alma-abstract-dark
Name[sr@latin]=Alma-abstract-dark
Name[sv]=Alma-abstract-dark
Name[tg]=Alma-abstract-dark
Name[tr]=Alma-abstract-dark
Name[uk]=Alma-abstract-dark
Name[x-test]=xxAlma-abstract-darkxx
Name[zh_CN]=Alma-abstract-dark
Name[zh_TW]=Alma-abstract-dark

X-KDE-PluginInfo-Name=Alma-abstract-dark
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0