[Desktop Entry]
Name=Alma-light
Name[ar]=Alma-light
Name[bs]=Alma-light
Name[ca]=Alma-light
Name[ca@valencia]=Alma-light
Name[cs]=Alma-light
Name[da]=Alma-light
Name[de]=Alma-light
Name[el]=Alma-light
Name[en_GB]=Alma-light
Name[es]=Alma-light
Name[et]=Alma-light
Name[eu]=Alma-light
Name[fi]=Alma-light
Name[fr]=Alma-light
Name[gl]=Alma-light
Name[he]=Alma-light
Name[hu]=Alma-light
Name[ia]=Alma-light
Name[id]=Alma-light
Name[it]=Alma-light
Name[ko]=Alma-light
Name[lt]=Alma-light
Name[nb]=Alma-light
Name[nds]=Alma-light
Name[nl]=Alma-light
Name[nn]=Alma-light
Name[pa]=Alma-light
Name[pl]=Alma-light
Name[pt]=Alma-light
Name[pt_BR]=Alma-light
Name[ro]=Alma-light
Name[ru]=Alma-light
Name[sk]=Alma-light
Name[sl]=Alma-light
Name[sr]=Alma-light
Name[sr@ijekavian]=Alma-light
Name[sr@ijekavianlatin]=Alma-light
Name[sr@latin]=Alma-light
Name[sv]=Alma-light
Name[tg]=Alma-light
Name[tr]=Alma-light
Name[uk]=Alma-light
Name[x-test]=xxAlma-lightxx
Name[zh_CN]=Alma-light
Name[zh_TW]=Alma-light

X-KDE-PluginInfo-Name=Alma-light
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0