[Desktop Entry]
Name=AlmaLinux Light
Name[ar]=AlmaLinux Light
Name[bs]=AlmaLinux Light
Name[ca]=AlmaLinux Light
Name[ca@valencia]=AlmaLinux Light
Name[cs]=AlmaLinux Light
Name[da]=AlmaLinux Light
Name[de]=AlmaLinux Light
Name[el]=AlmaLinux Light
Name[en_GB]=AlmaLinux Light
Name[es]=AlmaLinux Light
Name[et]=AlmaLinux Light
Name[eu]=AlmaLinux Light
Name[fi]=AlmaLinux Light
Name[fr]=AlmaLinux Light
Name[gl]=AlmaLinux Light
Name[he]=AlmaLinux Light
Name[hu]=AlmaLinux Light
Name[ia]=AlmaLinux Light
Name[id]=AlmaLinux Light
Name[it]=AlmaLinux Light
Name[ko]=AlmaLinux Light
Name[lt]=AlmaLinux Light
Name[nb]=AlmaLinux Light
Name[nds]=AlmaLinux Light
Name[nl]=AlmaLinux Light
Name[nn]=AlmaLinux Light
Name[pa]=AlmaLinux Light
Name[pl]=AlmaLinux Light
Name[pt]=AlmaLinux Light
Name[pt_BR]=AlmaLinux Light
Name[ro]=AlmaLinux Light
Name[ru]=AlmaLinux Light
Name[sk]=AlmaLinux Light
Name[sl]=AlmaLinux Light
Name[sr]=AlmaLinux Light
Name[sr@ijekavian]=AlmaLinux Light
Name[sr@ijekavianlatin]=AlmaLinux Light
Name[sr@latin]=AlmaLinux Light
Name[sv]=AlmaLinux Light
Name[tg]=AlmaLinux Light
Name[tr]=AlmaLinux Light
Name[uk]=AlmaLinux Light
Name[x-test]=xxAlmaLinux Lightxx
Name[zh_CN]=AlmaLinux Light
Name[zh_TW]=AlmaLinux Light

X-KDE-PluginInfo-Name=Alma-light
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0

