[Desktop Entry]
Name=AlmaLinux Dark
Name[ar]=AlmaLinux Dark
Name[bs]=AlmaLinux Dark
Name[ca]=AlmaLinux Dark
Name[ca@valencia]=AlmaLinux Dark
Name[cs]=AlmaLinux Dark
Name[da]=AlmaLinux Dark
Name[de]=AlmaLinux Dark
Name[el]=AlmaLinux Dark
Name[en_GB]=AlmaLinux Dark
Name[es]=AlmaLinux Dark
Name[et]=AlmaLinux Dark
Name[eu]=AlmaLinux Dark
Name[fi]=AlmaLinux Dark
Name[fr]=AlmaLinux Dark
Name[gl]=AlmaLinux Dark
Name[he]=AlmaLinux Dark
Name[hu]=AlmaLinux Dark
Name[ia]=AlmaLinux Dark
Name[id]=AlmaLinux Dark
Name[it]=AlmaLinux Dark
Name[ko]=AlmaLinux Dark
Name[lt]=AlmaLinux Dark
Name[nb]=AlmaLinux Dark
Name[nds]=AlmaLinux Dark
Name[nl]=AlmaLinux Dark
Name[nn]=AlmaLinux Dark
Name[pa]=AlmaLinux Dark
Name[pl]=AlmaLinux Dark
Name[pt]=AlmaLinux Dark
Name[pt_BR]=AlmaLinux Dark
Name[ro]=AlmaLinux Dark
Name[ru]=AlmaLinux Dark
Name[sk]=AlmaLinux Dark
Name[sl]=AlmaLinux Dark
Name[sr]=AlmaLinux Dark
Name[sr@ijekavian]=AlmaLinux Dark
Name[sr@ijekavianlatin]=AlmaLinux Dark
Name[sr@latin]=AlmaLinux Dark
Name[sv]=AlmaLinux Dark
Name[tg]=AlmaLinux Dark
Name[tr]=AlmaLinux Dark
Name[uk]=AlmaLinux Dark
Name[x-test]=xxAlmaLinux Darkxx
Name[zh_CN]=AlmaLinux Dark
Name[zh_TW]=AlmaLinux Dark

X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-Name=Alma-dark
X-KDE-PluginInfo-Version=0.1.0
X-KDE-PluginInfo-Website=https://almalinux.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Name=Alma-dark
X-KDE-PluginInfo-License=CC-BY-SA-4.0
X-KDE-PluginInfo-EnabledByDefault=true