[Desktop Entry]
Name=Alma-dark
Name[ar]=Alma-dark
Name[bs]=Alma-dark
Name[ca]=Alma-dark
Name[ca@valencia]=Alma-dark
Name[cs]=Alma-dark
Name[da]=Alma-dark
Name[de]=Alma-dark
Name[el]=Alma-dark
Name[en_GB]=Alma-dark
Name[es]=Alma-dark
Name[et]=Alma-dark
Name[eu]=Alma-dark
Name[fi]=Alma-dark
Name[fr]=Alma-dark
Name[gl]=Alma-dark
Name[he]=Alma-dark
Name[hu]=Alma-dark
Name[ia]=Alma-dark
Name[id]=Alma-dark
Name[it]=Alma-dark
Name[ko]=Alma-dark
Name[lt]=Alma-dark
Name[nb]=Alma-dark
Name[nds]=Alma-dark
Name[nl]=Alma-dark
Name[nn]=Alma-dark
Name[pa]=Alma-dark
Name[pl]=Alma-dark
Name[pt]=Alma-dark
Name[pt_BR]=Alma-dark
Name[ro]=Alma-dark
Name[ru]=Alma-dark
Name[sk]=Alma-dark
Name[sl]=Alma-dark
Name[sr]=Alma-dark
Name[sr@ijekavian]=Alma-dark
Name[sr@ijekavianlatin]=Alma-dark
Name[sr@latin]=Alma-dark
Name[sv]=Alma-dark
Name[tg]=Alma-dark
Name[tr]=Alma-dark
Name[uk]=Alma-dark
Name[x-test]=xxAlma-darkxx
Name[zh_CN]=Alma-dark
Name[zh_TW]=Alma-dark

X-KDE-PluginInfo-Name=Alma-dark
X-KDE-PluginInfo-Author=Bala Raman
X-KDE-PluginInfo-Email=srbala@gmail.com
X-KDE-PluginInfo-License=CC-BY-SA-4.0